.row {
  display: flex;
  flex-wrap: wrap;
}
.side {
  flex: 30%;
  background-color: transparent;
  padding: 20px;
}
.main {
  flex: 70%;
  background-color: transparent;
  padding: 20px;
  justify-content: center;
  text-align: justify;
}
