
* {
  box-sizing: border-box;
}
body {
  font-family:-apple-system,"Segoe UI",Helvetica,Arial,sans-serif;
  margin: 0;
}
#wrapper {
    margin-right: auto;
    margin-left:  auto;
    max-width: 1000px;
    padding-right: 10px;
    padding-left:  10px;
}
a:link {
  text-decoration: none;
}
#div1 {
  background-image: url('earth.png');
  background-repeat: no-repeat;
  width: 100%;
  height: 200px;
}
h1 {
  text-align: right;
  padding-top: 140px;
  padding-right: 10px;
  font-size: 3em;
  color: white;
}
.navbar {
  display: flex;
  justify-content: space-around;
  background-color:  #C9C9C2;
  padding: 14px 20px;
}
.navbar a {
  color: #24292e;
  text-decoration: none;
  text-align: center;
}
.navbar a:hover {
  color: white;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
.side {
  flex: 30%;
  background-color: transparent;
  padding: 20px;
}
.main {
  flex: 70%;
  background-color: transparent;
  padding: 20px;
  justify-content: center;
  text-align: justify;
}

@media screen and (max-width: 500px) {
  .navbar {
    flex-direction: column;
    text-align:center;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  #div1 {
    flex-direction: column;
  }
}
